@use '../globals' as *;
@use '../util' as *;



body#contactPage_body{
    background-color: #f0ebf1;
    max-width: 100%;
    height: 100vh;
    padding: rem(10);
    box-sizing: border-box;
}


.globalContainer_contact{
    max-width: 100%;
}

// HEADER 

.contactHeader{
    width: 100%;
    display: flex;
    place-content: center;

    .logoContactPage{
        width: rem(350);
        height: rem(100);
        cursor: pointer;
    }
}

// HEADER ENDS 


// MAIN CONTENT 

.contactPage_mainContent{
    max-width: 100%;
    padding: rem(10);
    margin-top: 10px;

    .contactUs_text{
        line-height: 1.2;

        h1{
            font-size: calc(20px + 1vw);
            color: var(--violet-hocarre);
        }

        p{
            font-size: calc(15px + .7vw);
        }
    }

    .contactUs_form{
        border-radius: rem(12);
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
}

// MAIN CONTENT ENDS 

// SOCIAL NETWORKS

.contactPage_socialNetworks{
    max-width: 100%;
    margin-top: 30px;
    padding: rem(10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .cell{
        display: flex;
        flex-direction: column;
        margin: rem(10);
        align-items: center;
        font-size: 17px;

        i{
            font-size: 24px;
            margin-bottom: 15px;
            cursor: pointer;
        }

        .fa-square-phone{
            color: var(--phone);
        }

        .fa-at{
            color: var(--violet-hocarre);
        }



        .fa-facebook{
            color: var(--facebook);
        }

        .fa-instagram{
            color: var(--instagram);
        }

        .fa-linkedin{
            color: var(--linkedin);
        }

        .fa-twitter{
            color: var(--twitter);
        }
    }
}

// SOCIAL NETWORKS ENDS 




// MEDIA QUERIES

@media screen and(min-width: 560px) {


    .contactPage_mainContent{

        .contactUs_text{
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .contactUs_form{
            width: 50%;
        }
    }
    
}


// MEDIA QUERIES ENDS 