@use '../util' as *;
@use '../globals' as *;


.cookie-consent-modal{
    height: 100vh; width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 100000000;
    display: none;
    align-items: flex-end;

    &.active{
        display: flex;
    }
}

.cookie-modal-content{
    background-color: #fff;
    padding: 1.5vw 3vw;
    border-radius: 10px 10px 0 0;
    // height: 200px;

    & .modal-top{
        display: flex;
        // align-items: center;
        width: 100%;

        & .cookie-img{
            width: 27px; height: 27px;
            align-self: center;
            margin-right: 10px;
            background-image: url("/assets/images/cookies/cookie-consent.png");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }


    & .modal-title{
        font-size: calc(17px + .7vw);
    }


    & .modal-content-cookie{
        
        & span {
            text-decoration: underline;
        }
    }

    & .modal-btns{
        display: flex;
        justify-content: flex-end;
        margin-top: 2em;

        & .consent-btn{
            border: none;
            outline: none;
            padding: .8em 1.5em;
            width: 100px;
            margin-right: 1em;
            border-radius: 3px;
            cursor: pointer;
        }
    }

    & .consent-btn.yes{
        background-color: var(--violet-hocarre);
        color: #fff;
    }
}

