@use '../globals' as *;
@use '../util' as *;



.section-features{
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

@media screen and (min-width: 980px ){
    .features_bottom{
        margin-top: rem(60);
        display: flex;
    }

    .features-box{
        width: 20%;
    }

    .section-features{
        height: 95vh;
    }

    .f-box-title{
        font-size: calc(.9rem + .4vw);
    }

    .features-box img{
        width: rem(80); 
    }

    .f-box-text{
        font-size: .825rem;
        width: 75%;
    }

    .features_text{
        display: grid;
        place-items: center;
    }

    .features_text p{
        width: 60%;
    }
}

.features_title{
    color: var(--light-blue);
    font-size: calc(1.125rem + 1.1vw);
}

.features_top{
    display: grid;
    place-items: center;
}

.features-box{
    display: flex;
    flex-direction: column;
    place-items: center;
}



.f-box-title{
    color: var(--light-blue);
    font-weight: bold;
    font-size: calc(.8rem + .6vw);
    margin: 10px;
}

.f-box-text,
.features_title,
.features_text{
    text-align: center;
}

.features_text{
    font-size: calc(.5rem + .6vw);
    width: 75%;
}

.features-box img{
    width: rem(100); 
}

.features_title.typewriter{
    width: 90%;
    overflow: hidden;
    border-right: .1em solid transparent;
    white-space: nowrap;
    letter-spacing: .1em;
    animation: typing 3s steps(40, end),
    blink-caret .8s step-end 8;
}

@keyframes typing {
    from { width: 0 }
    to { width: 85% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--violet-hocarre); }
  }
