@use '../globals' as *;
@use '../util' as *;


.section-features{
    width: 100%;
    background-color: rgba(255, 228, 196, 0.432);
    padding: 10px 0;
}

.features_title{
    text-align: center;
    color: rgb(23,64,94);
    font-size: calc(0.75em + 1.3vmax);
}

.features_bottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-box{
    border: 1px solid black;
    width: calc(23% + 5px);
    margin: 10px;
    border-radius: 7px;
    display: grid;
    place-items: center;
    box-shadow: 2px -8px 36px -12px rgb(0, 0, 0, .48);
}

.box-top { 

    display: flex;
    align-items: center;

    & img{
        width: rem(90);
    }

    & .box-title{
        margin: 0;
        padding: 0;
        font-size: 1.4em;
        color: var(--light-blue);
    }
}
