@use '../util' as *;
@use '../globals' as *;


.footer{
    width: 100%;
    min-height: 250px;
    background-color: var(--white);
    text-decoration: none;
}

.footer-container{
    max-width: rem(1100);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: rem(15);
    padding: rem(30) 0 0;
}

.footer-block{
    flex-basis: 20%;
    margin: 0 rem(30);
   
}

.footer-block.block-logo{
    align-self: center;
}

.footer-logo{
    width:rem(200); 
    height:rem(150);
}

.block-list{
    padding-left: 0;
}

.block-title{
    font-size: rem(18);
    color: var(--violet-hocarre);
}

.block-title::after{
    content: "";
    display: block;
    margin-top: rem(5);
    width: rem(80);
    height: rem(2);
    background-color: var(--violet-hocarre);
}

.block-title.company::after{
    content: "";
    display: block;
    margin-top: rem(5);
    width: rem(50);
    height: rem(2);
    background-color: var(--violet-hocarre);
}


.block-list__item{
    padding: rem(6) 0;
    transition: .3s;

    &:hover{
        text-decoration: underline ;
    }
}

.block-list.media{
    display: flex;
}

.block-list.media .block-list__item{
    padding-right: rem(15);
    font-size: rem(22);
    transition: all .3s ease;
}

.block-list.media .block-list__item > a > i{
    color: #000;
}

.block-list.media .block-list__item > a > i:hover{
    color: var(--violet-hocarre);
    transform: scale(1.22);
}




.block-list__item > a{
    color: rgba(51, 51, 51, 0.911);

    
}

/* ===> RESPONSIVE*/

@media screen and (max-width: rem(1000)) {
    .footer-container{
        max-width: 100%;
        flex-wrap: wrap;
    }

    .footer-block{
        flex-basis: auto;
        margin: rem(20) rem(20);
    }
}


@media screen and (max-width: rem(600)) {
    .footer-container{
        justify-content: center;
        align-items: center;
        padding-top: rem(30);
    }

    .footer-block{
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
