@use '../globals' as *;
@use '../util' as *;


.hero{
    min-width: 100%;
    display: grid;
    place-items: center;
    margin-top: rem(100);
}

.hero_container{
    background-color: rgb(235,244,255) ; 
    width: 80%;
    border-radius: rem(20);
    padding: rem(25);
}

.image_hero_A{
    display: flex;
    justify-content: center;
}
.hero-img-A{
    width: rem(300); height: rem(300);
}

a {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

a > .hero-button{
    background-color: transparent;
    border: 1.4px solid var(--violet-hocarre) ;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    transform: .1s;
    cursor: pointer;
    color: var(--violet-hocarre);
    font-size: 1.1em;
}

.hero-button:hover{
    background-color: var(--violet-hocarre);
    color: #fff;

}

.hero-button a{
    text-decoration: none;
    color: var(--violet-hocarre);
    font-size: 1.1em;
}

.text_hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 90%;
}

.text_header{
    font-size: clamp(30px, 40px, 3vmin) ;
    font-weight: bold;
}

.text_hero .main_text{
    font-size: calc(rem(20) + .2vw);
}

