@use '../globals' as *;
@use '../util' as *;


.hero{
    min-width: 100%;
    display: grid;
    place-items: center;
    margin: rem(100) 0;
}

.hero_container{
    background-color: rgba(93, 201, 209, 0.089); 
    width: 80%;
    border-radius: rem(20);
    padding: rem(10);
    display: flex;
    flex-direction: column;
}


.img-hero{
    height: rem(305);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.img-hero.img-B{
    background-image: url("/assets/images/hero_section/hocarree\ algricultrice.png");
    margin-top: 20px;
}

.img-hero.img-A{ 
    background-image: url("/assets/images/hero_section/hocarree\ cuisto.png"); 
}





.hero a {
    width: 35%;
    align-self: flex-start;
}

.hero-button{
    background-color: transparent;
    border: 1.4px solid var(--violet-hocarre) ;
    padding: rem(10);
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: var(--violet-hocarre);
    font-size: 1.1em;
    transition: .1s;
}

.hero-button:hover{
    color: #fff;
    background-color: var(--violet-hocarre);
}

.arrow::after{
    content: "\0279E";
    display: inline-block;
    padding-left: 4px;
    transition: transform 0.2s ease-out;
}

.arrow:hover::after{
    transform: translateX(8px);
}

.text_hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(23,64,94);
}

.text_header{
    font-size: clamp(30px, 40px, 3vmin) ;
    font-weight: bold;
    align-self: flex-start;
}

.text_hero .main_text{
    font-size: calc(rem(20) + .1vw);
    font-weight: 300;
}

@media screen and (min-width: 1025px) {



    .hero_container{
        display: flex;
        flex-direction: column;
        place-items: center;
        width: 70%;
        height: 100%;
    }

    .text_hero{
        height: 50%;
    }

    .img-hero{
        width: 100%;
        height: 305px;
    }

    .img-hero.img-A{
        margin-bottom: 10px;
    }

    .img-hero.img-B{
        margin-top: 10px ;
    }

    
}