@use '../util' as *;
@use '../globals' as *;

/*-----------------------------
*GLOBAL NAVBAR STARTS
 ------------------------------ */
.header{
    width: 100%;
    min-height: 75px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: rem(16) rem(24);
    padding: 0;
    width: 100%;
    max-height: 70px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--white);
    height: 100%;
}

.navbar__logo{
    position: relative;
    left: rem(55);
}

.logo{
    width: rem(250);
    height:100%;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item{
    margin: 0 rem(35);
}

.item__link{
    font-size: rem(19);
    color: rgb(0,0,0);
    padding-bottom: 10px;
    position: relative;
}

/* ====> hover effect -> underlined links */
.item__link.underlined:hover{
    color: var(--violet-hocarre);
}

.item__link.underlined::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: rem(2);
    background-color: var(--violet-hocarre);
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

.item__link.underlined:hover::before{
    transform: scaleX(1);
}

/* ====> signUp CTA button*/

button{
    outline: 0;
    position: relative;
    overflow: hidden;
    transition: background .3s;
}

.sign-up-btn{
    border: 2px solid var(--violet-hocarre);
    color: var(--violet-hocarre);
    font-size: rem(21);
    background-color: transparent;
    border-radius: rem(10);
    padding: rem(5) rem(25);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    font-weight: 700 ;
    cursor: pointer;
}

.sign-up-btn:hover{
    transition: .3s ease-out;
    background-color: var(--violet-hocarre) ;
    color: var(--white);
}


         

/* ------------------------------------
*GLOBAL NAVBAR ENDS
--------------------------------  */


/*--------------------------------
*HAMBURGER MENU STARTS
--------------------------------- */
.menu__hamburger{
    border: none;
    background-color: var(--white);
}

.menu__hamburger{
    display: none;
}

.menu__bar{
    display: block;
    width: rem(25);
    height: rem(3);
    margin: rem(5) auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--violet-hocarre);
}

/*----------------------------------
*HAMBURGER MENU ENDS
-----------------------------------  */



/*----------------------------------
*MOBILE VERSION STARTS
-----------------------------------  */

@media only screen and (max-width: rem(865)){

    .navbar{
        justify-content: space-between;
    }

    .menu__list{
        position: fixed;
        left: -1000%;
        top: rem(44);
        flex-direction: column;
        width: 100%;
        border-radius: rem(10);
        text-align: center;
        transition: .7s;
        background-color: var(--white);
    }

    .menu__list.menu--is-active{
        left: 0;
    }

    .menu__item{
        margin: rem(25) 0;
    }

    .menu__hamburger{
        display: block;
        cursor: pointer;
        margin-right: rem(30);
        justify-content: flex-end;
    }

    .menu__hamburger.menu--is-active .menu__bar:nth-child(2){
        opacity: 0;
    }

    .menu__hamburger.menu--is-active .menu__bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .menu__hamburger.menu--is-active .menu__bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*----------------------------------
*HAMBURGER VERSION ENDS
-----------------------------------  */
