@use '../util' as *;
@use '../globals' as *;

.section-presentation{
    height: 75vh;
    width: 100%;
    margin-top: rem(60);
    background-color: rgba(18, 210, 224, 0.753);
    color: rgb(255, 255, 255);
}


.presentation-container{
    width: 100%;
    height: 100%;
    display: flex;
}



/*------------------------------------------------------------------------
* LEFT PART STARTS
--------------------------------------------------------------------------*/

.presentation__left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation__header,
.presentation__body,
.presentation-cta{
    width: 80%;
}


.presentation__header{
    font-size: calc(1.725rem + 1.2vw);
    line-height: 1.3;
}

.presentation-title,
.presentation-text{
    margin: rem(15) 0 rem(15) rem(30);
}

.presentation__body{
    font-size: calc(1.2rem + .4vw);
    margin-bottom: rem(30);
}



.presentation-cta__button{
    border: none;
    background-color: var(--violet-hocarre);
    color: #fff;
    border-radius: rem(25);
    padding: rem(12);
    font-weight: 600;
    cursor: pointer;
    font-size: calc(.975rem + .175vw);
    position: relative;
    left: 5%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: .25s;
}

.presentation-cta__button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em var(--violet-hocarre);
    transform: translateY(-0.25em);
}

/*------------------------------------------------------------------------
* LEFT PART ENDS
--------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
* RIGHT PART STARTS
--------------------------------------------------------------------------*/

.presentation__right{
    display: flex;
    place-content: center;
    width: 50%;
    height: 100%;
}

/*------------------------------------------------------------------------
* RIGHT PART ENDS
--------------------------------------------------------------------------*/


@media screen and (max-width: rem(905)){

    .presentation-container{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .presentation__left{
        height: 65%;
        width: 100%;
        justify-content: flex-start;
    }

    .presentation__right{
        height: 35%;
        width: 100%;
        align-items: flex-start;
    }

    .presentation__right img{
        height: 70%;
        width: 70%;
    }

    .presentation__header{
        width: 70%;
    }

    .presentation__body{
        font-size: rem(18);
        width: 70%;
    }

    .presentation-cta__button{
        left: 10%;
    }
}

/* ----- Just a little line up effect ----------- */

.line-up{
    animation: 1.7s animate-lineUp ease-out;
}


@keyframes animate-lineUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    20% {
        opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
