@use '../util' as *;
@use '../globals' as *;

.section-presentation{
    height: 100vh;
    width: 100%;
    margin-top: 70px;
    background-color: rgb(93, 202, 209,.625);
    color: var(--white);
}


.presentation-container{
    width: 100%;
    height: 100%;
    display: flex;
}



/*------------------------------------------------------------------------
* LEFT PART STARTS
--------------------------------------------------------------------------*/

.presentation__left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation__header,
.presentation__body,
.presentation-cta{
    width: 80%;
}


.presentation__header{
    font-size: rem(45);
    font-weight: 700;
    margin-top: rem(30);
}

.presentation-title,
.presentation-text{
    margin: rem(15) 0 rem(15) rem(30);
}




.presentation__body{
    font-size: rem(23);
    margin-bottom: rem(30);
}



.presentation-cta__button{
    border: none;
    background-color: var(--violet-hocarre);
    color: #fff;
    border-radius: rem(7);
    padding: rem(10);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 5%;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

/*------------------------------------------------------------------------
* LEFT PART ENDS
--------------------------------------------------------------------------*/


/*------------------------------------------------------------------------
* RIGHT PART STARTS
--------------------------------------------------------------------------*/

.presentation__right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

/*------------------------------------------------------------------------
* RIGHT PART ENDS
--------------------------------------------------------------------------*/


@media screen and (max-width: rem(905)){

    .presentation-container{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .presentation__left{
        height: 55%;
        width: 100vw;
        justify-content: flex-start;
    }

    .presentation__right{
        height: 45%;
        width: 100%;
        align-items: flex-start;
    }

    .presentation__right img{
        height: 80%;
        width: 80%;
    }

    .presentation__header{
        font-size: rem(30);
        width: 70%;
    }

    .presentation__body{
        font-size: rem(18);
        width: 70%;
    }

    .presentation-cta__button{
        left: 10%;
    }

}
