@use '../util' as *;
@use '../globals' as *;

.section-targets{
    width: 100%;
    background-color: var(--target-section);

}

.targets_body{
    display: grid;
    place-items: center;
}

.targets_main{
    width: 80%;
}

.targets_header {
    font-size: calc(1.125rem + 2vw);
    text-align: center;
    position: relative;
    top: rem(30);
    letter-spacing: 1.2;
    color: var(--violet-hocarre);
    padding-bottom: 10px;
}

.targets-grid{
    display: flex;
    place-items: center;
    padding: 5px;
}

.t-grid-text{

    line-height: 1.2;

    & > ul{
        padding-left: 0;
    }
}

.t-grid-icon{
    margin-right: 15px;
    color: var(--violet-hocarre);
    font-size: 1.4em;    
}

.targets_image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    & > img  {
        width: 250px;
    }
}





