/*---------------------------------------------------
* RESETS AND BOILEPLATE STYLE
-----------------------------------------------------*/

*{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
 }

body{
    padding: 0px;
    margin: 0px;
    font-family:var(--base-font);
    background-color: #f7f7f7;
    line-height: 1.1;
    height: 100vh;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


// some flex properties 
.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

/*
** RIPPLE EFFECT 
*/  
span.ripple{
    position: absolute;
    transform: scale(0);
    animation: ripple 600ms linear;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


/* ************ FLOATING ANIMATION ********* */

.floating { 
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}


/* ************ TYPEWRITER ANIMATION ********* */


@keyframes typing {
    from { width: 0 }
    to { width: 85% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--violet-hocarre); }
  }