:root{
    --violet-hocarre: rgb(76, 2, 62);
    --beige: rgb(237, 213, 183);
    --light-blue: rgb(93, 202, 209);
    --electric-blue: rgb(69, 104, 255);
    --white: rgb(250, 250, 250);
    --light-gray: rgb(179, 179, 179);
    --target-section: rgba(201, 181, 197, 0.678);
}