:root{
    --violet-hocarre: rgb(76, 2, 62);
    --beige: rgb(237, 213, 183);
    --light-blue: rgb(93, 202, 209);
    --electric-blue: rgb(69, 104, 255);
    --white: rgb(250, 250, 250);
    --light-gray: rgb(179, 179, 179);
    --facebook: #4764a3;
    --instagram: #CF26A2;
    --linkedin: #2867B2; 
    --twitter: #1DA1F0 ;
    --phone: #29b310;
    --mail: rgb(255, 44, 44);
}